
/* BASIC */

input.btn-edit {
    background: url("../images/edit.gif") no-repeat;
    width: 122px;
    float: right;
    height: 22px;
    margin-right: 7px;
    margin-bottom: 5px;
    border: none;
}

input.btn-del {
    background: url("../images/delete_4219.png") no-repeat;
    background-size: 22px 22px;
    height: 22px;
    width: 22px;
    float: right;
    margin-right: 25px;
    border: none;
}
